/*!
 * Start Bootstrap - Clean Blog v4.0.0-beta.2 (https://startbootstrap.com/template-overviews/clean-blog)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-clean-blog/blob/master/LICENSE)
 */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light|Shadows+Into+Light+Two');
/*font-family: 'Shadows Into Light Two', cursive;
font-family: 'Shadows Into Light', cursive;*/

body {
  font-size: 20px;
  color: #212529;
  font-family: 'Lora', 'Times New Roman', serif; }

p {
  line-height: 1.5;
  margin: 30px 0; }
  p a {
    text-decoration: underline; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

a {
  color: #212529;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s; }
  a:focus, a:hover {
    color: #0085A1; }

blockquote {
  font-style: italic;
  color: #868e96; }

.section-heading {
  font-size: 36px;
  font-weight: 700;
  margin-top: 60px; }

.caption {
  font-size: 14px;
  font-style: italic;
  display: block;
  margin: 0;
  padding: 10px;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px; }

::-moz-selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none; }

::selection {
  color: #fff;
  background: #0085A1;
  text-shadow: none; }

img::selection {
  color: #fff;
  background: transparent; }

img::-moz-selection {
  color: #fff;
  background: transparent; }

body {
  -webkit-tap-highlight-color: rgba(27, 234, 188, 0.4); }



#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: none;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  #mainNav .navbar-brand {
    font-family: 'Shadows Into Light Two', cursive;
    font-weight: 800;
    color: white; }
  #mainNav .navbar-toggler {
    font-size: 12px;
    font-weight: 800;
    padding: 13px;
    text-transform: uppercase;
    color: white; }
  #mainNav .navbar-nav > li.nav-item > a {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white; }

  #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
    color: rgba(255, 255, 255, 0.8); }

  .fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    color: white;
  }

.navbar-light .navbar-toggler {
 
    border-color: rgb(29, 208, 168);
}

  @media only screen and (min-width: 992px) {
    #mainNav {
      border-bottom: 1px solid transparent;
      background: transparent; 
    }
      #mainNav .navbar-brand {
        padding: 10px 20px;
        color: #fff; }
        #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
          color: rgba(255, 255, 255, 0.8); }
      #mainNav .navbar-nav > li.nav-item > a {
        padding: 10px 20px;
        color: #fff; }
        #mainNav .navbar-nav > li.nav-item > a:focus, #mainNav .navbar-nav > li.nav-item > a:hover {
          color: rgba(255, 255, 255, 0.8); } }
  @media only screen and (min-width: 992px) {
    #mainNav {
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s;
      /* Force Hardware Acceleration in WebKit */
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-backface-visibility: hidden; }
      #mainNav.is-fixed {
        /* when the user scrolls down, we hide the header right above the viewport */
        position: fixed;
        top: -67px;
        -webkit-transition: -webkit-transform 0.2s;
        -moz-transition: -moz-transform 0.2s;
        transition: transform 0.2s;
        border-bottom: 1px solid white;
        background-color: rgba(23, 249, 199, 0.9); }
        #mainNav.is-fixed .navbar-brand {
          color: #212529; }
          #mainNav.is-fixed .navbar-brand:focus, #mainNav.is-fixed .navbar-brand:hover {
            color: white; }
        #mainNav.is-fixed .navbar-nav > li.nav-item > a {
          color: #212529; }
          #mainNav.is-fixed .navbar-nav > li.nav-item > a:focus, #mainNav.is-fixed .navbar-nav > li.nav-item > a:hover {
            color: white; }
      #mainNav.is-visible {
        /* if the user changes the scrolling direction, we show the header */
        -webkit-transform: translate3d(0, 100%, 0);
        -moz-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        -o-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0); } }

header.masthead {
  background: no-repeat center center;
  background-color: #868e96;
  background-attachment: scroll;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  header.masthead .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #212529;
    opacity: 0.5; }
  header.masthead .page-heading,
  header.masthead .post-heading,
  header.masthead .site-heading {
    padding: 200px 0 150px;
    color: white; }
    @media only screen and (min-width: 768px) {
      header.masthead .page-heading,
      header.masthead .post-heading,
      header.masthead .site-heading {
        padding: 200px 0; } }
  header.masthead .page-heading,
  header.masthead .site-heading {
    text-align: center; }
    header.masthead .page-heading h1,
    header.masthead .site-heading h1 {
      font-family: 'Shadows Into Light', cursive;
      font-size: 35px;
      margin-top: 0; }
    header.masthead .page-heading .subheading,
    header.masthead .site-heading .subheading {
      font-size: 24px;
      font-weight: 300;
      line-height: 1.1;
      display: block;
      margin: 10px 0 0;
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
    @media only screen and (min-width: 768px) {
      header.masthead .page-heading h1,
      header.masthead .site-heading h1 {
        font-size: 55px; } }
  header.masthead .post-heading h1 {
    font-size: 35px; }
  header.masthead .post-heading .meta,
  header.masthead .post-heading .subheading {
    line-height: 1.1;
    display: block; }
  header.masthead .post-heading .subheading {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  header.masthead .post-heading .meta {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-family: 'Lora', 'Times New Roman', serif; }
    header.masthead .post-heading .meta a {
      color: #fff; }
  @media only screen and (min-width: 768px) {
    header.masthead .post-heading h1 {
      font-size: 55px; }
    header.masthead .post-heading .subheading {
      font-size: 30px; } }

.post-preview > a {
  color: #212529; }
  .post-preview > a:focus, .post-preview > a:hover {
    text-decoration: none;
    color: #16c79f; }
  .post-preview > a > .post-title {
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 10px; }
  .post-preview > a > .post-subtitle {
    font-weight: 300;
    font-size: 25px;
    margin: 0 0 10px; }

.post-preview > .post-meta {
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  font-style: normal;
  margin-top: 0;
  color: #868e96; }
  .post-preview > .post-meta > a {
    text-decoration: none;
    color: #212529; }
    .post-preview > .post-meta > a:focus, .post-preview > .post-meta > a:hover {
      text-decoration: underline;
      color: #16c79f; }

@media only screen and (min-width: 768px) {
  .post-preview > a > .post-title {
    font-size: 30px; } }

.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dee2e6; }
  .floating-label-form-group input,
  .floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none !important;
    font-family: 'Lora', 'Times New Roman', serif; }
    .floating-label-form-group input::-webkit-input-placeholder,
    .floating-label-form-group textarea::-webkit-input-placeholder {
      color: #868e96;
      font-family: 'Lora', 'Times New Roman', serif; }
  .floating-label-form-group label {
    font-size: 0.85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top 0.3s ease, opacity 0.3s ease;
    -moz-transition: top 0.3s ease, opacity 0.3s ease;
    -ms-transition: top 0.3s ease, opacity 0.3s ease;
    transition: top 0.3s ease, opacity 0.3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0; }
  .floating-label-form-group .help-block {
    margin: 15px 0; }

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1; }

.floating-label-form-group-with-focus label {
  color: #0085A1; }

form .form-group:first-child .floating-label-form-group {
  border-top: 1px solid #dee2e6; }

footer {
  height: 350px;
  padding: 50px 0 65px; }
  footer .list-inline {
    margin: 0;
    padding: 0; }
  footer .copyright {
    font-size: 14px;
    margin-bottom: 0;
    text-align: center; }

.btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 800;
  padding: 15px 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 0;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

.btn-primary {
  background-color: #0085A1;
  border-color: #0085A1; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #29af91 !important;
    border-color: #29af91 !important; }

.btn-lg {
  font-size: 16px;
  padding: 25px 35px; }


/*CATEGORIES PART*/
div.categories {
  width: auto;
  height: auto;
  text-align: center;
}

.background-container {
  background: rgb(247,247,247);
}

main {
  padding-bottom: 20px;
}

.category-style {
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 5px 10px 5px 10px;
  width: 120px;
  font-size: 14px;
  box-sizing: border-box;
}

.category-style a {
  display: block;
  margin-right: 1px;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  transition-property: all;
  transition-duration: 200ms;
  transition-timing-function: ease;
  color: rgb(118, 128, 136);
  text-align: center;
  text-decoration: none;
}

.category-style a:hover {
  background-color: rgb(247,247,247);
}

ul.list-inline {
  margin-bottom: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  border-bottom: 1px solid rgb(224, 224, 224);
}

/*DIVIDER*/
.divider {
    display: block;
    width: 20%;
    height: 1px;
    margin-top: 16px;
    margin-right: auto;
    margin-bottom: 16px;
    margin-left: auto;
    background-color: rgb(222, 222, 222);
    list-style-type: lower-alpha;
}


/*FOOTER*/

.main-section {
    padding-top: 62px;
    padding-bottom: 62px;
    background-color: rgb(247, 247, 247);
}

.main-section.dark {
    padding-bottom: 0px;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-bottom-color: black;
    background-color: rgb(77, 86, 93);
    background-image: linear-gradient(rgba(35, 47, 56, 0.47), rgba(35, 47, 56, 0.31) 99%), url(../img/footer-bg.jpg);
    background-size: auto, cover;
    background-position: 0px 0px, 50% 0px;
}

.white {
  color: white;
}


.w-clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.form-wrapper {
  text-align: center;
}

.field {
    width: 75%;
    height: 45px;
    float: left;
    border-top-style: none;
    border-top-width: 1px;
    border-top-color: black;
    border-right-style: none;
    border-right-width: 1px;
    border-right-color: black;
    border-bottom-style: none;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-left-style: none;
    border-left-width: 1px;
    border-left-color: black;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: rgb(77, 86, 93);
    font-size: 15px;
}

.submit-button {
    width: 25%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.28);
    transition-property: background-color, color;
    transition-duration: 350ms, 350ms;
    transition-timing-function: ease, ease;
    font-family: Oxygen, sans-serif;
}

.w-input {
    display: block;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.w-button {
    display: inline-block;
    color: white;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
    font-size: 14px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 10px;
}

.w-button:hover {
    background: #1dd0a8;
}

.fa {
  color: #1dd0a8;
}

.fa-inverse {
    color: #fff;
}

.btn-primary {
  background: #1dd0a8;
  border-color: #16c79f;
}




/*IMAGE ARTICLE*/

div.featured-image {
  margin: 15px 0 15px 0;
}
.featured-image {
    position: static;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 280px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    /*background-image: url(../img/img1.jpg);*/
    background-size: cover;
    background-position: 50% 50%;
}

/*ARTICLE PREVIEW TYPOGRAPHY */

h3.white.text-center {
  font-family: 'Shadows Into Light Two', cursive;
}


/* COMMENTS */
.post-info {
  font-size: 13px;
  margin: 15px;
}

div.comments {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
}

.post-comment {
  width: 50%;
  margin: 5px auto 5px auto;
  min-height: 80px;
  display: block;
  font-size: 14px;
}

.btn-comment {
  width: 80px;
  margin: 20px;
  background: #f9a133;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.textboxes {
  display: block;
  width: 50%;
  margin: 2px auto 10px auto;
  font-size: 14px;
}


/* LOGIN/REGISTER PAGE */

.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #26c5a2;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[name="password-confirm"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*PAGINATION*/

ul.pagination li,
li.active,
li.disabled {
  background: #1dd0a8;
  border: 1px solid rgb(247, 247, 247);
  color: white;
  font-size: 14px;
  font-weight: 800;
  padding: 0;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
}

li.nav-item.active {
  background: none;
}

ul.pagination li.active {
  color: #24b998;
  background: #fbfbfb;
}

.pagination li a,
.pagination li.active,
.pagination li.disabled {
  color: white;
  display: block;
  padding: 15px 25px;
  text-decoration: none;
}

.pagination li.disabled {
   pointer-events: none;
   cursor: default;
   background: gray;
}

.pagination li a[rel="next"]:before {
    content: 'Next ';
}

.pagination li a[rel="prev"]:after {
    content: ' Prev';
}


/* SINGLE POST */
.blog-content:first-letter {
  text-transform: capitalize;
  font-size: xx-large;
  font-weight: 800;
  font-family: 'Shadows Into Light Two', cursive;
}
.margin-t {
  margin-top: 8px;
}


/* Back To Top*/
#toTop{
  position: fixed;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
  display: none;
}


/* TABLE FOR ALL POSTS */

#box-table-a
{
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  margin: 5% auto 5% auto;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
#box-table-a th
{
  height: 60px;
  font-size: 13px;
  font-weight: 800;
  padding: 8px;
  background: #1dd0a8bd;
  border-top: 4px solid #1dd0a8bd;
  border-bottom: 1px solid #fff;
  color: white;
}
#box-table-a td
{
  padding: 8px;
  /*background: #e8edff; */
  border-bottom: 1px solid #fff;
  color: #669;
  border-top: 1px solid transparent;
}
#box-table-a tr:hover td
{
  background: white;
  color: #339;
}

table tr:nth-child(odd) td{
  background: #e8f0ef21;
}
table tr:nth-child(even) td{
  background: #1dd0a821;
}
.small-b {
  font-size: 9px;
  padding: 10px 15px;
  margin: 3px auto 3px auto;
  width: 80px;
}

/* DROP DOWN MENU */

.dropdown-menu {
  background-color: rgba(29, 208, 168, .8);
}

.dropdown-menu li.nav-item a.nav-link {
  color: white;
  font-size: 11px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 20px;
}

.dropdown-menu li.nav-item a.nav-link:hover {
  color: rgba(255, 255, 255, 0.8);
}

/* banner for posts pages */
div.site-heading.small-banner {
  padding: 100px 0;
}

/* SELECT 2 override styles*/
.select2-results__option {
  font-size: 16px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #1dd0a8!important;
  color: white!important;
  font-size: 16px;
}

span.select2-selection__choice__remove {
  color: white!important; 
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #ced4da 1px!important;
    outline: 0;
}

/* TAGS */
.label {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-primary {
  background-color: #337ab7;
}

.label-success {
  background-color: #5cb85c;
}

.label-choice {
  background-color: #14456f;
}

.label-theme {
  background-color: #23be9b;
}

a.label:hover {
  color: black;
}

/* Comment section override style*/

.floating-label-form-group input, .floating-label-form-group textarea {
  font-size: 1.25em;
  border: 1px solid #868e96;
  text-align: center;
  padding: 3px;
}

.floating-label-form-group {
  border-bottom: none;
}


.panel-shadow {
    /*box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;*/
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
  margin: auto;
  display: inline-block;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}

  .file-input-wrapper {
    width: 200px;
    height: 40px;
    overflow: hidden;
    position: relative;
  }
  .file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }
  .file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 200px;
    height: 40px;
  }